<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="flex" action="/users" method="POST">
        <input type="text" name="name" placeholder="enter your name"/>
        <input type="email" name="email" placeholder="enter your email"/>
        <input type="number" name="age" placeholder="enter your age"/>
        <input type="text" name="address" placeholder="enter your address"/>
        <textarea name="bio" cols="30" rows="10" placeholder="Bio"></textarea>
        <input type="text" name="hobbies" placeholder="your hobbies"/>
        <input type="submit" value="Add User"/>
    </form>
</body>
</html>